<div>Michael Glum, CSE270E, January 10, 2022</div>
<a href="/" class="btn-primary btn-sm">Main</a>
<a href="/about" class="btn-primary btn-sm">About</a>
<a href="/clear" class="btn-primary btn-sm">Clear</a>
</body>
</html>
