<!DOCTYPE html>
<!-- Michael Glum, cse270e, Assignment-12, 1/14/2022-->
<html lang="en">
<head>
  <meta http-equiv="refresh" content="1;url=http://glummb.270e.csi.miamioh.edu:3012/shows">
  <title>Jeopardy</title>
</head>
<body>
<h2>404! Page not found.</h2>
<p>Redirecting...</p>
<%- include ("footer") %>
