<!DOCTYPE html>
<!-- Michael Glum, cse270e, Assignment-12, 1/14/2022-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Jeopardy</title>
  <link rel="stylesheet" type="text/css" href="/game.css">
</head>
<body>
